<ion-header color="new" mode="md">
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="new" mode="md" scrollable="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>CREATE A CITY CARD</ion-card-subtitle>
      <ion-card-title>
        <ion-input id="city-input" type="text" placeholder="Enter city name"></ion-input>
      </ion-card-title>
    </ion-card-header>

    <div id="add-activity-card"></div>

    <ion-card-content>
      <ion-button (click)="onClickAddActivity()" expand="block" shape="round">
        + Activity
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-button id="create-save-button" (click)="onClickSave()" expand="block" shape="round">
    Save
  </ion-button>

</ion-content>
